#!/usr/bin/env bash

PLATFORM=$(uname)

# Git and GitHub
alias ce="gh copilot explain"
alias co="gh copilot"
alias cs="gh copilot suggest"
alias cya="cd ~/.local/share/yadm/repo.git"
alias g="git"
alias oc="oco"
alias pr="gh pr create --web"
alias prv="gh pr view --web"
alias ya="yadm"

# Docker
alias d="docker"
alias dc="docker-compose"

# Navigation and Directory Management
alias cf='cd "$(fd --type d --hidden --follow --exclude .git | fzf --height=40% --border --prompt="Select folder> ")"'
alias cdb="z mr-yum-db-schema"
alias cma="z manage-api"
alias cmf="z manage-frontend"
alias cms="z smoke"
alias csa="z serve-api"
alias csf="z serve-frontend"
alias zt="zellij action go-to-tab-name"
alias yz="yazi"

# Editors and Shell Utilities
## File Navigation and Listing
alias l="eza -l --icons"
alias la="eza -a --icons"
alias ll="eza"
alias ls="eza --icons"
alias ranger="yazi"
alias yi="yazi"
## Disk Usage
alias df="duf"
alias du="dust"
## Text Editors
alias v="nvim"
alias vim="nvim"
alias hay="/Applications/Haystack\ Editor.app/Contents/MacOS/Electron"
## Terminal Multiplexers
alias tmux="zellij"
alias zc="zellij --layout compact"
## Git and Version Control
alias lg="lazygit"
## Search and Navigation
alias ftx=fzf_to_context
alias hs="history | fzf"
alias s="~/dev/search.sh"
## Development Tools
alias sf="swift-format --recursive -i ."
alias tf="terraform"
## System/Utility
alias rs="~/bin/reset.sh"

# Work
alias mls="mryum login && mryum shell"
alias ms="mryum shell"

# Deprecated or redirected commands
alias ac="echo 'Use oc instead'"
alias aedt="echo 'Use ttz instead'"
alias pst="echo 'Use ttz instead'"
alias sed="echo 'Use sd instead'"

# --------------
# Old ls aliases
# --------------

# # Detect which `ls` flavor is in use
# if ls --color > /dev/null 2>&1; then # GNU `ls`
# 	colorflag="--color"
# else # macOS `ls`
# 	colorflag="-G"
# fi

# # List all files colorized in long format
# alias l="ls -lhF ${colorflag}"
# alias ll="ls -hF ${colorflag}"

# # List all files colorized in long format, including dot files
# alias la="ls -lahF ${colorflag}"

# # List only directories
# alias ld="ls -lhF ${colorflag} | grep --color=never '^d'"

# # Always use color output for `ls`
# alias ls="command ls ${colorflag}"

# --------------

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# Clipboard copy
if [[ ${PLATFORM} == "Linux" ]]; then
    alias copy='xclip -sel clip'
    alias pbcopy=copy
    alias open=xdg-open
    alias sc="scrot -d 3 -e 'mv \$f ~/Pictures/screenshots/'"
fi
