#!/usr/bin/env bash

PLATFORM=$(uname)

alias d="docker"
alias dc="docker-compose"
alias g="git"
alias hs="history | fzf"
alias v="nvim"
alias vim="nvim"
alias hay="/Applications/Haystack\ Editor.app/Contents/MacOS/Electron"
alias tf="terraform"
alias cf='cd "$(fd --type d --hidden --follow --exclude .git | fzf --height=40% --border --prompt="Select folder> ")"'

# Rust alternatives
# Partial source: https://zaiste.net/posts/shell-commands-rust/
alias cdb="z mr-yum-db-schema"
alias cma="z manage-api"
alias cmf="z manage-frontend"
alias cms="z smoke"
alias csa="z serve-api"
alias csf="z serve-frontend"
alias du="dust"
alias l="eza -l --icons"
alias la="eza -a --icons"
alias lg="lazygit"
alias ll="eza"
alias ls="eza --icons"
alias mls="mryum login && mryum shell"
alias ms="mryum shell"
alias pr="gh pr create --web"
alias prv="gh pr view --web"
alias ranger="yazi"
alias rs="~/bin/reset.sh"
alias s="~/dev/search.sh"
alias sed="sd"
alias tmux="zellij"
alias zc="zellij --layout compact"
alias ya="yadm"
alias pst="echo 'Use ttz instead'"
alias aedt="echo 'Use ttz instead'"

# --------------
# Old ls aliases
# --------------

# # Detect which `ls` flavor is in use
# if ls --color > /dev/null 2>&1; then # GNU `ls`
# 	colorflag="--color"
# else # macOS `ls`
# 	colorflag="-G"
# fi

# # List all files colorized in long format
# alias l="ls -lhF ${colorflag}"
# alias ll="ls -hF ${colorflag}"

# # List all files colorized in long format, including dot files
# alias la="ls -lahF ${colorflag}"

# # List only directories
# alias ld="ls -lhF ${colorflag} | grep --color=never '^d'"

# # Always use color output for `ls`
# alias ls="command ls ${colorflag}"

# --------------

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# Clipboard copy
if [[ ${PLATFORM} == "Linux" ]]; then
    alias copy='xclip -sel clip'
    alias pbcopy=copy
    alias open=xdg-open
    alias sc="scrot -d 3 -e 'mv \$f ~/Pictures/screenshots/'"
fi
