[push]
	default = current
[pull]
	default = current
[alias]
	a = add .
    au = add -u
	x = !git add -A && git commit --amend --no-edit
	xx = !git add -A && git commit --amend --no-edit --no-verify
	wip = !git add -A && git commit -m "WIP" --no-verify
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    cb = checkout -b
    cm = commit -m
    co = checkout
    ds = diff --compact-summary
    s = status
	pf = push -f
	p = push
	rs = reset --hard HEAD
	search = "!f() { \\\n search_string=\"$1\"; \\\n file_name=\"${2:-.}\"; \\\n git --no-pager log --pretty=oneline -S\"$search_string\" -- \"$file_name\"; \\\n}; f"
[core]
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore_global
    pager = delta
[user]
	email = paulchiu@gmail.com
	name = Paul Chiu
[mergetool]
	prompt = false
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@github.com/mr-yum/tilt-extensions"]
	insteadOf = https://github.com/mr-yum/tilt-extensions
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
	# For additional themes, see https://github.com/dandavison/delta/blob/main/themes.gitconfig
    features = "calochortus-lyallii"
    side-by-side = true
    line-numbers-left-format = ""
    line-numbers-right-format = "│ "
[delta "interactive"]
    keep-plus-minus-markers = false
[delta "calochortus-lyallii"]
    # author: https://github.com/manojkarthick
    commit-decoration-style = none
    dark = true
    file-added-label = [+]
    file-copied-label = [C]
    file-decoration-style = none
    file-modified-label = [M]
    file-removed-label = [-]
    file-renamed-label = [R]
    file-style = 232 bold 184
    hunk-header-decoration-style = none
    hunk-header-file-style = "#999999"
    hunk-header-line-number-style = bold "#03a4ff"
    hunk-header-style = file line-number syntax
    line-numbers = true
    line-numbers-left-style = black
    line-numbers-minus-style = "#B10036"
    line-numbers-plus-style = "#03a4ff"
    line-numbers-right-style = black
    line-numbers-zero-style = "#999999"
    minus-emph-style = syntax bold "#780000"
    minus-style = syntax "#400000"
    plus-emph-style = syntax bold "#007800"
    plus-style = syntax "#004000"
    whitespace-error-style = "#280050" reverse
    zero-style = syntax
    syntax-theme = Nord